.errorpage{
    background-color: rgb(207, 111, 111);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.error-Content{
    padding: 30px;
    text-align: center;
}
.error-Content p{
    color: #fff;
    font-size: large;
    font-weight: 700;
    margin-top: 30px;
}
.error-Content button{
    border: none;
    padding: 10px 20px;
    background-color: black;
    border-radius: 10px;
    transition: all linear .3s;
}
.error-Content button:hover{
    background-color: rgb(183, 29, 5);
}
.error-Content button a{
    color: #fff;
    font-size: large;
    font-weight: 800;
    text-decoration: none;
}





#handboy
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
    
}


#girllight
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl
{
    animation: swinghair ease-in-out 1.3s infinite alternate;
   transform-origin: 60% 0%;
    transform-box: fill-box;
  
}

#zero
{
  transform-origin:bottom;
  transform-box:fill-box;
  
}

/*************swing************/
@keyframes swing {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}


/*************swing hair************/
@keyframes swinghair {
    0% { transform: rotate(6deg); }
    100% { transform: rotate(-6deg); }
}