*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6, p{
    line-height: 0.8;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
body{
    font-family: 'Merriweather Sans', sans-serif;
}
ul,li{
    list-style: none;
}

.outlet{
    height: calc(100vh - 145px);
}
/* ======Header======= */
.userinfo{
    align-items: center;
    gap: 10px;
}
.userinfo button{
    border: none;
    padding: 2px 10px;
    border-radius: 5px;
    transition: all linear .3s;
}
.userinfo button:hover{
    background-color: #f8f000;
}
.userinfo button a{
    text-decoration: none;
    color: black;
}

/* ====Buttons==== */
.glow-on-hover {
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #e9dbfb;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: large;
}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #fefefe, #f8b57e, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #022125;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.googleAuth button{
    color: #1403f9;
    font-size: x-large;
    text-align: center;
    align-items: center;
}

/* ===== View Recipe Button ===== */
.viewrecipe{
    background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 10px;
transition: all linear .3s;
margin-bottom: 5px;
}
.viewrecipe a{
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: all linear .3s;
}

.viewrecipe:hover{
    background: #77A1D3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.viewrecipe:hover a{
    color: #000;
}

/* =======from======= */
.register{
    margin-top: 30px;
}
.from{
    padding: 100px 100px;
    background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 45%;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    height: 600px;
}
.from input{
    border: none;
    color: #000;
    font-size: larger;
    width: 85%;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 5px 10px;
}

.forgetpass{
    text-align: right;
    margin-right: 30px;
    transition: all linear .3s;
}
.forgetpass a{
    color: #fff;
    text-decoration: none;
}
.forgetpass a:hover{
    color: #f8f000;
}
.from p{
    color: #fff;
    font-size: medium;
    font-weight: 500;
}
.googleAuth{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.googleAuth button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fefefe;
    padding: 15px;
    border-radius: 50%;
    transition: all linear .3s;
}
.googleAuth button img{
    width: 25px;
}
.googleAuth button:hover{
background-color: #D33545;
}
.dont-account{
    font-size: 25px;
    margin-top: 25px;
}
.dont-account a{
    color: #fff;
    text-decoration: none;
}
.dont-account a:hover{
    color: #f8f000;
}



/* ======= color headline ======== */
.gradianthead{
    font-size: xx-large;
    font-weight: 800;
    margin-bottom: 20px;
    background: linear-gradient(
        to right,
        #fbfbfb 20%,
        #f0fc04 30%,
        #04ffa7 70%,
        #34fb02 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


/* ===== Accounts Pages ======= */
.bginfopadding{
    padding: 130px;
    background-color: #9bf9a4bd;
}
.userpicture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #022125;
    position: absolute;
    margin-top: -75px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
}
.userpicture img{
    width: 100%;
}
.usercard{
    width: 50%;
    height: 60%;
    padding: 100px 100px;
    background-color: #e9dbfb;
    margin: -100px auto;
    border-radius: 15px;
}
.userinfo h3{
    text-align: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.userinfo p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* ==== Chef Info ===== */
.chefs{
    margin-bottom: 40px;
    margin-top: 15px;
}
.outline{
    border: 4px solid #08203e ;
        padding: 30px;
        background: #7b4397;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #08203e, #557c93);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #08203e, #557c93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 366px;
        border-radius: 20px;
        transition: all linear .3s;
}
.outline:hover{
    background: -webkit-linear-gradient(to right, #0a1647, #436c89);
    background: linear-gradient(to right, #0a1647, #436c89);
}
.all-chefs{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.chefinfo{
    background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
transition: all linear .3s;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-bottom: 200px;
    box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.72);
-webkit-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.72);
-moz-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.72);
}
.chefinfo img{
    width: 100px;
    height: 110px;
    border-radius: 10%;
    box-shadow: 24px 22px 5px 0px rgba(0,0,0,0.1);
}
.chefinfo h4{
    font-weight: 500;
    font-size: xx-large;
    margin-top: 10px;
}
.outline:hover .chefinfo img{
    zoom: 110%;
    position: static;
}
.outline:hover .chefinfo{
    background: #512865;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #750f16, #4a275c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8d161e, #4b285d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.outline:hover .chefname{
    background: #666f88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ab6666, #3b4664);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bd8b8b, #525f82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.chefname p{
    font-weight: 400;
    font-size: medium;
    margin-top: 15px;
}
.chefname{
    transition: all linear .3s;
    background: #DAE2F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
transition: all linear .3s;
    border-radius: 0px 20px 0px 20px;
    margin-top: 10px;
    padding: 10px;
    transform: rotateY(10px);
    box-shadow: 15px 12px 32px -2px rgba(0,0,0,0.72);
-webkit-box-shadow: 15px 12px 32px -2px rgba(0,0,0,0.72);
-moz-box-shadow: 15px 12px 32px -2px rgba(0,0,0,0.72);
}
.chefname:hover{
    box-shadow: 13px 14px 7px 0px rgba(0,0,0,0.1);
}
.chefname button{
    border: transparent;
    padding: 5px 5px;
}


/* ====== Food Tabs ======= */
.tabs{
    padding-bottom: 100px;
}
.tabmenu ul{
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}
.tabsmenus{
    background-color: #D6A4A4;
    padding: 10px 20px;
    border-radius: 5px;
}
.tabmenu ul li a{
    font-weight: 700;
    font-size: medium;
    text-decoration: none;
}
.tabcontent p{
margin: 0 auto;
    font-size: medium;
    line-height: 20px;
    width: 700px;
}
.active-tab{
    background-color: #360000;
}
.hidden-content{
    visibility: hidden;
    position: absolute;
}
.active-content{
    visibility: visible;
padding: 20px;
border-radius: 10px;
}
.color1{
    background-color: #022125;
    color: #fff;
}
.color2{
    background-color: #f759b8;
}
.color3{
    background-color: #8280fb;
}
.color4{
    background-color: #bff039;
}
.color5{
    background-color: #00bed7;
}
.color6{
    background-color: #04be4b;
    color: #fff;
}